.summary{
    display: grid;
    gap: 1rem;
    inline-size: 100%;
     
    @include tablet{
        grid-template-columns: repeat(2, 1fr);
    }

    @include desktop{
        grid-template-columns: repeat(4, 1fr);
    }
    

    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-block: 1.5rem;
        inline-size: 100%;
        background-color: var(--Background-3);
        border-radius: 5px;
        border-top: 4px solid var(--Facebook);
        position: relative;
        cursor: pointer;

        &:hover{
            background-color: var(--Background-2);
        }

        &-twitter{
            border-color: var(--Twitter);
        }

        &-instagram{
            border: none;
            
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                inline-size: 100%;
                block-size: 4px;
                border-radius: 5px  5px 0 0 ;
                background: linear-gradient( to right, hsl(37, 97%, 70%) , hsl(329, 70%, 58%));
            }
        }

        &-youtube{
            border-color: var(--YouTube);
        }

        .username{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
           
    
            span{
                color: var(--Text-2);
                font-weight: bold;
            }
        }

        .followers{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 3.5rem;
            font-weight: bold;
            padding-block: 1.25rem;
            font-variant-numeric: tabular-nums;
            color: var(--Text-1);

            span{
                font-size: .875rem;
                font-weight: 400;
                letter-spacing: 5px;
                color: var(--Text-2);
            }
        }

        .today{
            color: var(--Lime-Green) ;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-weight: bold;

            &-down{
                color: red;
            }
        }
    }
}